/*BOX-SIZING*/


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*FORM*/



form{
  max-width: 300px;
  margin: 0 auto;
    
}


/*FIELDS*/

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="streetaddress"],
input[type="city"],
input[type="state"],
input[type="zipcode"],
textarea,
select {
	background: rgba(255, 255, 255, 0.1);
    border: 2px solid #8a97a0;
    border-radius: 4px;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

#zipcode {
    width: 50%;

}

fieldset {
        border: 0 none;
    }

input:focus, textarea:focus {
    background-color: #B0EBF2;
    border: 2px solid #8a97a0;
}


/*PLACEHOLDER*/

::-webkit-input-placeholder {
    color: gray;
    text-indent: 170px;
    font-size:13px;
    font-style: italic;
   
    
    
}

:-moz-placeholder { /* Firefox 18- */
   color: gray;
   text-indent: 170px;
   font-size:13px;
   font-style: italic;
   
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
   text-indent: 170px;
   font-size:13px;
   font-style: italic;
   
}

:-ms-input-placeholder {  
   color: gray;
   text-indent: 170px;
   font-size:13px;
   font-style: italic;
   
}


/*HEADER*/

header {
	background: #38B4C1;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}


/* HEADER TEXT*/

h1 {
	text-align: center;
	color: white;
	font-size: 23px;
}


/*FORM TEXT*/

h2 {
	text-align: center;
    font-size: 20px;
}

p {
  text-align: center;
  font-size: 15px;
  color: #b1b5b9;
  margin: 10px;
  padding: 10px 0 20px
}

legend {
    font-size: 20px;
	font-weight: 600;
    padding: 20px 0 20px;
	
}


/*LABELS*/

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}


/*BUTTON*/

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #38B4C1;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #28C0C6;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	margin-bottom: 10px;
}

/*HORIZONTAL RULES*/

hr.style1{
	border-top: 3px solid #000;
}

hr.style2 {
	border-top: 8px double #000;
    
}

/*COPYRIGHT*/

.copyright {
 text-align: center;
 font-size: 15px;
 font-style: italic;
 color: #b1b5b9;
 padding: 20px;

}

/*MEDIAQUERIES*/

@media (min-width: 768px) {
    
    form {
         min-width: 500px;
        
    }
    
    input[type="text"],
	input[type="email"],
	input[type="tel"],
	select#state {
		width: 70%;
		display: inline-block;
	}
    
    
    ::-webkit-input-placeholder {
         color: gray;
         text-indent: 230px;
         font-size:13px;
         font-style: italic;


    }
    
    #zipcode {
     width: 35%;
         

    }
    
 .form-contact label {
    display: inline-block;
    text-align: left;
    width: 26%;
    margin: 10px 0 5px;




    }
    
}
    